<!-- Main page of the web app -->
{% extends "layout.html" %}
{% block title %}Coffee Makers Online{% endblock %}
{% block content %}  
  <h1>Coffee Makers Online</h1>
  <p>Welcome to the World of Coffee Makers where you can find all the
  necessary information about various coffee makers.<br>
  Please select the maker type you are interested in:</p>
  <div id="container"> 
    <!-- Looping through each item in the passed "data" list -->
    {% for type in data %}
      <!-- Displaying the relevant image of each item as a hyperlink to its page -->
      <a href="{{ type['url'] }}">
        <img src="{{ url_for('static', filename='img/' + type['url'] + '.jpg') }}">
        <div class="caption">{{ type['name'] }}</div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
