<!DOCTYPE html>
<!-- HTML for the main page of the web app -->
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='css/main.css') }}">
  <title>Coffee Makers Online</title>
</head>
<body>
  <h1>Coffee Makers Online</h1>
  <p>Welcome to the World of Coffee Makers where you can find all the
  necessary information about various coffee makers.<br>
  Please select the maker type you are interested in:</p>
  <ul>
    <!-- Looping through each item in the passed "data" list -->
    {% for type in data %}
      <!-- Printing the name of each item as a hyperlink to its relevant page -->
      <a href="{{ type['url'] }}">
        <img src="{{ url_for('static', filename='img/' + type['url'] + '.jpg') }}">
      </a>
    {% endfor %}
  </ul>
</body>
</html>
