<!-- Page for displaying makers of a particular type --> 
{% extends "layout.html" %}
<!-- Printing the name of the maker type as the title -->
{% block title %}
  {{ result['name'] }} Makers
{% endblock %}
{% block content %}
  <!-- Printing the name of the maker type -->
  <h1>{{ result['name'] }} Makers:</h1>
  <div id="container">
    <!-- Iterating through each maker in the list -->
    {% for maker in result['makers'] %}
      <!-- Displaying the relevant image of each maker as a hyperlink to its page -->
      <a class="animated" href="/{{ result['url'] }}/{{ maker['url'] }}">
        <img src="{{ url_for('static', filename='img/' + maker['url'] + '.jpg') }}">
        <div class="container">{{ maker['name'] }}</div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
