/* Wrapped the images into a single container with centred alignment*/
#container {
    text-align: center;
}

/* Grid for the hyperlink images with some transition*/
a {
    display: inline-block;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

/* Scale the images/captions slightly on hover */
a:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Ensuring that the images are of uniform dimensions */
img {
    width: 300px;
    height: 300px;
}


